body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6fc;
  /* margin: 0;
  padding: 20px; */
}

  .card {
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 90%;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .user-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.user-table thead {
  background: #f9f9f9;
  font-weight: 600;
}

.user-table th, .user-table td {
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
}

  h4 {
    font-weight: 600;
  }

  .btn {
    transition: all 0.3s ease;
  }

  .btn:hover {
    transform: scale(1.05);
  }

  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }

  .badge {
    font-size: 0.9rem;
    
  padding: 4px 12px;
  border-radius: 20px;
  /* font-size: 0.85em; */
  white-space: nowrap;
}

@media (max-width: 768px) {
    .btn {
      width: 100%;
      margin-top: 5px;
    }
  }

  .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

/* Edit */

/* From Uiverse.io by vinodjangid07 */ 
.edit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(3, 137, 23);
}

/* plus sign */
.signedit {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signedit svg {
  width: 17px;
}

.signedit svg path {
  fill: white;
}
/* text */
.textedit {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.edit:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.edit:hover .signedit {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.edit:hover .textedit {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.edit:active {
  transform: translate(2px ,2px);
}

